* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
   
background: #cbcabd;
    color: #E0FF77;
    font-size: calc(100vw / 1920 * 10);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    user-select: none;
    width: 100%;
}

body {
    font-size: 15px;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overscroll-behavior-y: none;
}

.loaded body:after {
    opacity: 0.06;
}

img {
    display: block;
}

canvas {
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 1s ease;
    width: 100%;
}

.loaded canvas {
    opacity: 1;
}